*{
    -fx-primary:#00112c;
    -fx-secondary:#c86f5e;
    -fx-window:#c5e3f6;
    -fx-closeButton:#FF605C;
    -fx-minimizeButton:#00CA4E;
    -fx-maximizeButton:#FFBD44;
}

.loginButton{
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #3d5af1;
}

.loginButton:hover{
    -fx-font-size: 15px;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #3d5af1;
    -fx-background-radius: 20px;
}

.SignUpButton{
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #2d6cdf;
}

.SignUpButton:hover{
    -fx-font-size: 15px;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #2d6cdf;
}

.txt-field{
    -fx-font-size: 15px;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: #FFFFFF;
    -fx-prompt-text-fill: #FFFFFF;
    -jfx-unfocus-color:#E9E9E9;
    -jfx-focus-color:#f3f4f7;
}

.wrong-Credentials{
    -fx-text-fill: #FF0000;
    -jfx-unfocus-color:#FF0000;
    -jfx-focus-color:#FF0000;
}

.ClientBackground{
    -fx-background-color: -fx-primary;
}

.forgotPassword{
    -fx-text-fill: #FFFFFF;
}

.forgotPassword:hover{
    -fx-text-fill: #482ff7;
    -fx-cursor: hand;
}